body {
    font-family: Georgia;
    color: #323232;
    background-color: #FBFBFB;
}
nav {
    position: sticky;
    top: 0.5em;
    border-radius: 2em;
    padding: 1em;
    margin-top: 0.5em;
    background-color: #1C7EA8;
}
nav ul li {
    display: inline;
    margin: 0.25rem;
    margin-inline: 0.5rem;
    margin-block: 0;
    line-height: 1.5rem;
}
nav ul li a {
    color: #FBFBFB;
    font-weight: bolder;
    text-decoration: none;
}
nav ul li a:hover {
    color: #a3e4ff;
}
h1 {
    margin: 3em;
    margin-bottom: 5em;
    max-width: 80%;
    font-size: 3em;
}
h1 > em {
    color: #1CA876;
}
h1 > em + em {
    color: #1C7EA8;
}
header {
    padding-top: 5em;
    padding-bottom: 5em;
    flex-flow: column;
}
section {
    padding: 2em;
    margin-bottom: 2em;
}
.flex, .container-flex {
    display: flex;
    flex-wrap: nowrap;
}
.container-center, .container-flex  {
    align-items: center;
    justify-content: center;
}
.container-flex {
    flex-flow: row;
}
.box {
    background-color: #E7E7E7;
    border-radius: 1em;
}
div.box {
    padding: 2em;
    max-width: 40%;
}
img.image {
    width: 20%;
    margin: 2em;
    justify-self: center;
}
h1, h2, h3, h4, p {
    text-align: center;
}
footer {
    background: linear-gradient(90deg, rgba(204, 8, 8, 0.25) 0%, rgba(204, 149, 8, 0.25) 50%, rgba(74, 114, 137, 0.25) 100%);
}
button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}  