@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
}
ul {
    display: block;
}
body {
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif;
    color: #2f3134;
}

/* HEADER */
header {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 44px;
    column-gap: 0;
    align-items: center;
    margin-bottom: 0;
}
.header-titles {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 12px;
}
/* MENU */
.menu .item.g1 {
    font-weight: bolder;
    color: #c4170c;
}
.menu .item.oglobo {
    color: #1e4c9a;
}
.menu .item.valor {
    color: #006767;
}
.menu .item.ge {
    color: #06aa48;
}
.menu .item.cartola {
    color: #ff7400;
}
.menu .item.globoplay {
    color: #fb0234;
}
.menu .item.gshow{
    color: #ff6700;
}
.menu .item.receitas {
    color: #a5147d;
}
.menu .item.quem {
    color: #333;
}
.menu .item.podcast {
    color: #4f5257
}


/* SECTIONS */
ul {
    padding-left: 2rem;
    padding-right: 2rem;
    list-style-type: disc;
}
.big-news {
    color: #fff;
    background-color: #c4170c;
    margin: 2rem;
    border-radius: 2em;
    overflow: hidden;
    max-height: 200rem;
    max-width: 50rem;
    position: relative;
}
.big-img {
    max-width: 100%;
    max-height: 30rem;
    margin-bottom: 1rem;
}
.big-title {
    padding-left: 2rem;
    font-size: larger;
    font-weight: bold;
    color: #fff;
}
.big-news li::marker {
    color: #ffb7b2;
}