@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variaveis */
:root {
    --g1-color: #c4170c;
    --oglobo-color: #1e4c9a;
    --valor-color: #006767;
    --ge-color: #06aa48;
    --cartola-color: #ff7400;
    --globoplay-color: #fb0234;
    --gshow-color: #ff6700;
    --receitas-color: #a5147d;
    --quem-color: #333;
    --podcast-color: #4f5257;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    display: block;
}
body {
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif;
    color: #2f3134;
}


/* HEADER */
header {
    background: #fff;
    display: grid;
    align-items: center;
}
.main-menu {
    display: flex;
    margin: 0 0 0 2rem;
    justify-content: space-between;
    align-items: center;
}
.login-search {
    display: flex;
    align-items: center;
}
.login {
    border-right: 1px solid #eee;
}
.login>svg, .search>svg {
    width: 40px;
    height: 40px;
}
button {
    background-color: #fff;
    margin-right: 1rem;
}
nav {
    position: sticky;
    top: 0;
}
.menu {
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.items {
    padding: 5px 15% 5px 15%;
    display: flex;
    justify-content: space-between;
    /* grid-auto-flow: column;
    grid-auto-columns: minmax(90px, auto); */
    gap: 5px;
}
@media only screen and (max-width: 600px) {
    .valor {
        display: none;
    }
    .cartola {
        display: none;
    }
    .receitas {
        display: none;
    }
    .quem {
        display: none;
    }
    .podcast {
        display: none;
    }
    .items {
        padding: 5px 5% 5px 5%;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 600px) {
    .items {
        padding: 5px 5% 5px 5%;
    }
}
.menu li {
    text-align: center;
    white-space: nowrap; /* impedir quebra de texto */
}


/* MENU */
.g1 {
    color: var(--g1-color);
}
.oglobo {
    color: var(--oglobo-color);
}
.valor {
    color: var(--valor-color);
}
.ge {
    color: var(--ge-color);
}
.cartola {
    color: var(--cartola-color);
}
.globoplay {
    color: var(--globoplay-color);
}
.gshow {
    color: var(--gshow-color);
}
.receitas {
    color: var(--receitas-color);
}
.quem {
    color: var(--quem-color);
}
.podcast {
    color: var(--podcast-color);
}


/* SECTIONS */
main {
    display: flex;
    margin: 2% 10%
}
section {
    padding: 0 2%;
}
a {
    font-weight: bolder;
}
div {
    margin: 1rem;
}
section ul {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: disc;
}
.details {
    padding: 15px 0 0 15px;
}
.g1-news, .ge-news {
    display: flex;
    flex-direction: column;
}
.ge-news {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
.g1-row {
    display: flex;
    border-bottom: 1px solid #eee;
}
.g1-row#row-after-big-news {
    border-top: 1px solid #eee;
}
.g1-news .item .detail::marker {
    color: var(--g1-color);
}
.ge-news .item .detail::marker {
    color: var(--ge-color);
}
.gshow-news .item .detail::marker {
    color: var(--gshow-color);
}
.item {
    overflow: hidden;
    max-height: 100rem;
    max-width: 25rem;
}
section .item {
    min-width: 60px;
}
.item img {
    max-width: 100%;
    max-height: 30rem;
    margin-bottom: 1rem;
}
.img-news {
    width: 100%;
    height: 112px;
    margin-bottom: 0;
    filter: brightness(95%);
    border-radius: 15px;
}

.big-news {
    color: #fff;
    background-color: #c4170c;
    border-radius: 2em;
    overflow: hidden;
    max-height: 200rem;
    max-width: 50rem;
    position: relative;
}
.big-title {
    margin-left: 1rem;
    font-size: larger;
    color: #fff;
}
.big-news li::marker {
    color: #ffb7b2;
}