@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variaveis */
:root {
    --g1-color: #c4170c;
    --oglobo-color: #1e4c9a;
    --valor-color: #006767;
    --ge-color: #06aa48;
    --cartola-color: #ff7400;
    --globoplay-color: #fb0234;
    --gshow-color: #ff6700;
    --receitas-color: #a5147d;
    --quem-color: #333;
    --podcast-color: #4f5257;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
a {
    text-decoration: none;
}
ul {
    display: block;
}
body {
    font-family: Inter, "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif;
    color: #2f3134;
}


/* HEADER */
header {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 44px;
    column-gap: 0;
    align-items: center;
    margin-bottom: 0;
}
.header-titles {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 12px;
}


/* MENU */
.g1, .g1 a {
    color: var(--g1-color);
}
.oglobo, .oglobo a {
    color: var(--oglobo-color);
}
.valor a {
    color: var(--valor-color);
}
.ge, .ge a {
    color: var(--ge-color);
}
.cartola a {
    color: var(--cartola-color);
}
.globoplay a {
    color: var(--globoplay-color);
}
.gshow, .gshow a{
    color: var(--gshow-color);
}
.receitas a {
    color: var(--receitas-color);
}
.quem a {
    color: var(--quem-color);
}
.podcast a {
    color: var(--podcast-color);
}


/* SECTIONS */
section {
    margin: 2rem;
}
a {
    font-weight: bolder;
}
div {
    margin: 1rem;
}
ul {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-type: disc;
}
.g1-news .item .detail::marker {
    color: var(--g1-color);
}
.ge-news .item .detail::marker {
    color: var(--ge-color);
}
.item {
    overflow: hidden;
    max-height: 100rem;
    max-width: 25rem;
}
.item img {
    max-width: 100%;
    max-height: 30rem;
    margin-bottom: 1rem;
}

.big-news {
    color: #fff;
    background-color: #c4170c;
    border-radius: 2em;
    overflow: hidden;
    max-height: 200rem;
    max-width: 50rem;
    position: relative;
}
.big-title {
    padding-left: 1rem;
    font-size: larger;
    color: #fff;
}
.big-news li::marker {
    color: #ffb7b2;
}