@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Numans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    display: block;
    list-style-type: none;
}

:root {
    --primary-color: hsl(30, 85%, 55%);
    --secondary-color: hsl(30, 85%, 35%);
    --background-color: #EBECEE;
    --secondary-white: white;
    --text-family-font: "Poppins";
    --shades-of-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --secondary-blue: #002F52;
}


/* BODY */
body {
    background-color: var(--background-color);
    font-family: var(--text-family-font);
}

h1 {
    background-color: var(--secondary-white);
}


/* HEADER */
.header {
    background-color: var(--secondary-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__mobile-menu{
    width: 24px;
    height: 24px;
    background-image: url("./assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 1em;
    display: inline-block;
}

.container__image {
    padding: 1em;
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

#menu {
    display: none;
}

.container__button:checked~.menu-list {
    display: block;
}

.menu-list__title,
.menu-list__item {
    background-color: var(--secondary-white);
}

.menu-list__title {
    color: var(--primary-color);
    padding-left: 0.7em;
    padding-top: 1em;
    font-weight: 700;
    font-size: large;
}

.menu-list__item {
    padding: 1em;
    font-size: 14px;
}

.menu-list__link {
    background: var(--shades-of-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}


.container:has(input[type="checkbox"]:checked) > label {
    background-color: var(--secondary-blue);
}

.container:has(input[type="checkbox"]:checked) .header__mobile-menu {
    background-image: url("./assets/Menu\ Aberto.svg");
}

/* BANNER */
.banner {
    background: var(--shades-of-blue);
    color: var(--secondary-white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__title {
    font-size: 18px;
    font-weight: 700;
}

.banner__text {
    font-weight: 500;
    margin: 1em 0;
}

.banner__search {
    background-color: transparent;
    border: 1px solid var(--secondary-white);
    color: var(--secondary-white);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__search::placeholder {
    font-family: var(--text-family-font);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--secondary-white);
    background: url("./assets/Lupa.svg") no-repeat;
    background-position: 1em;
}

/* CAROUSEL */
.carousel {
    padding-bottom: 1em;
}

.carousel__title {
    color: var(--primary-color);
    background-color: var(--secondary-white);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0.5em 0.5em;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card {
    background: var(--secondary-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.description {
    margin-right: 0.5em;
}

.description__title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: medium;
}

.description__title-book {
    color: var(--secondary-blue);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.description__text {
    font-size: 14px;
}

.card__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.buttons__item {
    margin: 0 0.5em;
}

.buttons__item > img {
    max-width: 80%;
}

.buttons__anchor {
    background-color: var(--primary-color);
    padding: 1em 2.2em;
    color: var(--secondary-white);
    font-weight: 700;
}


/* TOPICS */

.topics {
    background: var(--shades-of-blue);
    text-align: center;
    padding: 1em 0;
}

.topics__title {
    color: var(--secondary-white);
    font-weight: 500;
    font-size: x-large;
    margin: 1em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 2em 0.5em;
}

.topics__link {
    color: var(--secondary-white);
    padding: 1em;
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

/* CONTACT */
.contact {
    background-color: var(--secondary-white);
    padding: 2em 1em;
}

.contact__title, .contact__text {
    background: var(--shades-of-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contact__title {
    font-size: 18px;
    font-weight: 500;
}
.contact__text {
    font-weight: 300;
    margin: 1em 0;
}

.contact__email {
    padding: 1em;
    border: 1px solid var(--secondary-blue);
    border-radius: 24px;
    width: 90%; 
    color: var(--secondary-blue);
}

.contact__email::placeholder {
    font-family: var(--text-family-font);
    color: var(--secondary-blue);
    background: url("assets/email.svg") no-repeat;
    padding-left: 2em;
}

/* FOOTER */
hr {
    background-color: var(--secondary-blue);
    height: 1px;
}

.footer {
    background-color: var(--secondary-white);
    padding: 1em;
}

.footer__title {
    font-weight: 300;
}