* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body {
    font-family: Georgia;
    color: #323232;
    background-color: #FBFBFB;
}


/* nav, header */

nav {
    position: sticky;
    top: 0.5em;
    border-radius: 2em;
    padding: 1em;
    margin-top: 0.5em;
    background-color: #1C7EA8;
}
nav ul li {
    display: inline;
    margin: 0.25rem;
    margin-inline: 0.5rem;
    margin-block: 0;
    line-height: 3rem;
}
nav ul li a {
    color: #FBFBFB;
    font-weight: bolder;
    text-decoration: none;
}
nav ul li a:hover {
    color: #a3e4ff;
}
button#cookie-for-nav {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
img#cookie {
    padding-left: 10%;
}
header {
    padding-top: 5em;
    padding-bottom: 5em;
    flex-flow: column;
}


/* text */

h1 {
    margin: 3em;
    margin-bottom: 5em;
    max-width: 80%;
    font-size: 3em;
}
h1 > em {
    color: #1CA876;
}
h1 > em + em {
    color: #1C7EA8;
}
h1, h2, h3, p {
    text-align: center;
    margin: 1em;
}
h4 {
    padding-left: 3%;
    margin: 1em;
}
ul {
    padding-left: 10%;
}
h2 {
    font-size: 2em;
}
h3.title {
    font-size: larger;
    margin-bottom: 0;
}
h5.subtitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3%;
    font-style: italic;
    font-weight: lighter;
    font-size: large;
}


/* box, section */

section {
    padding: 2em;
    margin-bottom: auto;
}
.flex, .container-flex {
    display: flex;
    flex-wrap: nowrap;
}
.container-center, .container-flex  {
    align-items: center;
    justify-content: center;
}
.container-flex {
    flex-flow: row;
}
.box {
    background-color: #E7E7E7;
    border-radius: 1em;
    max-width: fit-content;
}
div.box {
    padding: 2em;
    max-width: 40em;
}
section.box {
    margin: 2em;
}
section#checklist-banner, section#checklist-preferences {
    margin-left: 2em;
    margin-right: 2em;
    justify-self: center;
}
section#checklist-preferences {
    max-width: 65em;
}

/* image */

img.image {
    width: 20%;
    margin: 2em;
    justify-self: center;
}
img#model-banner {
    width: 90%;
    max-width: min-content;
    margin: 2em;
    justify-self: center;
    align-self: center;
}
img#model-preference {
    width: 40%;
    margin: 2em;
}
footer img {
    padding-left: 5%;
    padding-right: 5%;
}

/* input, button */

input[type="checkbox"]:checked + span{
    text-decoration: line-through;
}
input[type="checkbox"]:checked {
    accent-color: #1CA876;
}


/* footer */

footer {
    margin-top: auto;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(90deg, rgba(204, 8, 8, 0.25) 0%, rgba(204, 149, 8, 0.25) 50%, rgba(74, 114, 137, 0.25) 100%);
}
